.cproject
server/build
server/gradle
server/.gradle
xcuserdata
proj.android/ant.properties
proj.android/local.properties
proj.android/res/drawable-hdpi/*.png
proj.android/res/drawable-ldpi/*.png
proj.android/res/drawable-mdpi/*.png
proj.win32/res/game.ico
proj.win8.1-universal/App.Windows/*.pfx
proj.ios_mac/mac/Icon.icns
*.prefs
*.orig
*.log
.idea
*.iml
.project
.classpath
*.bak
gradlew
gradlew.bat
*.xccheckout
client/cocos2d
client/proj.android/libs
client/proj.android/obj
client/proj.android/assets
client/proj.android/bin
client/proj.android/gen
client/bin
